{% extends "_base.html" %}

{% block pageContent %}
<div class="row">
	<div class="col-12 col-lg-12 col-xl-6">
		<div class="card card-fluid">
			<div class="card-body">
				<div class="section-block">
                  <div class="alert alert-secondary has-icon">
                    <div class="alert-icon">
                      <img src="" alt="">
                    </div>
                    <p> The warning dialog will fire after <strong>10 seconds</strong>. The page will redirect after <strong>30 seconds</strong> with no activity. </p>
                    <p> Shows the warning dialog with countdown timer after 10 seconds. If user takes no action (interacts with the page in any way), browser is redirected to redirUrl. On any user action (mouse, keyboard or touch) the timeout timer as well as the countdown timer are reset (visible if you don't close the warning dialog). </p>
                  </div>
                </div>
                <div class="section-block">
                  <div class="alert alert-secondary has-icon">
                    <div class="alert-icon">
                      <img src="" alt="">
                    </div>
                    <p> The warning dialog will fire after <strong>10 seconds</strong>. The page will redirect after <strong>30 seconds</strong> with no activity. </p>
                    <p> Shows the warning dialog with countdown timer after 10 seconds. If user takes no action (interacts with the page in any way), browser is redirected to redirUrl. On any user action (mouse, keyboard or touch) the timeout timer as well as the countdown timer are reset (visible if you don't close the warning dialog). </p>
                  </div>
                </div>
			</div>
		</div>
	</div>
	<div class="col-12 col-lg-12 col-xl-6">
		<div class="card card-fluid">
			<div class="card-body">
				sdf
			</div>
		</div>
	</div>
</div>
{% endblock %}